
.rectangle {
    height: 150px;
    width: 50px;
    background-color: #555;

  }

  #GTP{
      font-size: 5rem;
      font-family: Geneva,Arial,sans-serif;
  }
  #Name{
    font-size: 4rem;
    font-family: Geneva,Arial,sans-serif;
}

#textcontainer{
    padding-left: 4%;
    
}


iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Style rules for navigation area*/
nav{
    background-color: #1338BE;
  }
  
  nav ul{
    list-style: none;
    margin: 0;
    text-align: center;
  }
  
  nav li{
    display:inline-block;
    font-size: 1.5em;
    font-family: Geneva,Arial,sans-serif;
    font-weight: bold;
  }
  
  nav li a{
    display: block;
    color: #f6eee4;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
  }

  /*Style rules for footer content*/
footer{
    text-align: center;
    font-size: 0.85em;
    background-color: #1338BE;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 0%;
    padding-left: 0%;
    color: #f3e6d8;
  }
  
  footer a{
    color: #f3e6d8;
    text-decoration: none;
  }

  #contact{
      font-family: Geneva,Arial,sans-serif;
      color: #ffff;
  }

  #aboutheader{
    font-family: Geneva,Arial,sans-serif;
    color: #ffff;
  }

  #aboutbody{
    font-family: Geneva,Arial,sans-serif;
    color: #ffff;
  }

   /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  /* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  #hero{
      text-align: center;
  }

#home{
    margin-left: auto;
    margin-right: auto;
}
  
#none{
    list-style-type: none;
}