
.rectangle {
    height: 150px;
    width: 50px;
    background-color: #555;

  }

  #GTP{
      font-size: 5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #Name{
    font-size: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#textcontainer{
    padding-left: 4%;
    
}


iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Style rules for navigation area*/
nav{
    background-color: #2a1f14;
  }
  
  nav ul{
    list-style: none;
    margin: 0;
    text-align: center;
  }
  
  nav li{
    display:inline-block;
    font-size: 1.5em;
    font-family: Geneva,Arial,sans-serif;
    font-weight: bold;
  }
  
  nav li a{
    display: block;
    color: #f6eee4;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
  }